{% extends 'layouts/authenticated.html.twig' %}

{% block main_class %}fullscreen-mode{% endblock %}

{% block body %}
  <div id="game-container"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.min.js"></script>
    <script type="module" src="{{ asset('game/main.js') }}"></script>
{% endblock %}
