<!DOCTYPE html>
<html class="{{ app.user and app.user.theme == 'dark' ? 'dark' : '' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    {% endblock %}
</head>

<body class="flex">

    {% include "base/sidebar.html.twig" %}

    <div class="flex flex-col flex-1 w-0 overflow-hidden">
        <main class="relative flex-1 overflow-y-auto focus:outline-none">
            <div class="py-6">
                <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-8">
                    {% block header %}
                        <h1 class="text-lg text-gray-600">Welcome to Flint</h1>
                    {% endblock %}
                </div>
                <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-8">
                    <div class="py-4">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    {% endblock %}
</body>
</html>
