<h1>My Decks</h1>

<a href="{{ path('deck_create') }}" class="btn btn-primary">Créer un deck</a>

<ul>
    {% for deck in decks %}
        <li>
            <a href="{{ path('deck_show', { id: deck.id }) }}">{{ deck.title }}</a>
        </li>
    {% else %}
        <li>No decks found.</li>
    {% endfor %}
</ul>
